{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/centeredContainer.css')  }}">
{% endblock %}

{% block content %}
<div class="centered-container">
    <h1>Lista de Sócios</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%">RG</th>
                <th style="width: 30%">Nome</th>
                <th style="width: 20%">E-Mail</th>
                <th style="width: 20%">Cel 1</th>
                <th style="width: 20%">Verificar</th>
                <th style="width: 20%">Atualizar</th>
                <th style="width: 20%">Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
                <tr>
                    <td>{{ socio.rg }}</td>
                    <td>{{ socio.nome.split(" ")[0]  }} {{ socio.nome.split(" ")[-1] }}</td>
                    <td>{{ socio.email }}</td>
                    <td>{{ socio.cel_1 }}</td>
                    <td><a class="btn btn-success btn-sm" href="{{ url_for('socio.verifica', id=socio.id) }}">Verificar</a></td>
                    <td><a class="btn btn-warning btn-sm" href="{{ url_for('socio.update', id=socio.id) }}">Atualizar</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{{ url_for('socio.delete', id=socio.id) }}">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}