{% extends 'base.html' %} 
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/centeredContainer.css')  }}"/>
{% endblock %}
{% block content %}
<div class="centered-container">
    <h1>Cadastrar Empréstimo</h1>
    {% if data['error'] %}
    <div class="alert alert-danger" role="alert">
        {{ data['error'] }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        <span>Empréstimo criado com sucesso!</span>
    </div>
    {% endif %}
    <form method="POST">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Retirada</span>
            </div><input name="retirada"  type="date" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="retirada" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Id Sócio</span>
            </div>
            <input name="idsocio" value="{{ data['socio']['id'] if data['socio'] else ''}}" type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="idsocio" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Sócio</span>
            </div>
            <input name="socio"  type="text" value="{{ data['socio']['nome'] if data['socio'] else ''}}" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="socio" readonly>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tombo Livro</span>
            </div>
            <input name="tombo"  type="text" value="{{ data['livro']['tombo'] if data['livro'] else '' }}" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="tombo" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"  id="inputGroup-sizing-default">Titulo</span>
            </div>
            <input name="titulo" id="titulo" value="{{ data['livro']['titulo'] if data['livro'] else '' }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
        </div>
        <input type="submit" class="btn btn-primary btn-sm btn-block" value="Salvar">
    </form>
</div>
<script src="{{ url_for('static', filename='js/createEmprestimo.js')  }}"></script>
{% endblock %}
