{% extends 'base.html' %} {% block header %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/centeredContainer.css')  }}"
/>
{% endblock %} {% block content %}
<div class="centered-container">
    <h1>Lista de Empréstimos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">ID</th>
                <th style="width: 30%">Retirada</th>
                <th style="width: 30%">Devolução</th>
                <th style="width: 20%">Nome do Livro</th>
                <th style="width: 20%">Nome do Sócio</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.id }}</td>
                <td>{{ emprestimo.retirada }}</td>
                <td style="color: tomato">Retirada precisa ser implementada</td>
                <td>{{ emprestimo.titulo }}</td>
                <td>{{ emprestimo.nome }}</td>
                <td>
                    <form action="{{ url_for('emprestimo.update', id=emprestimo['id']) }}" method="get">
                        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Deletar" onclick="return confirm('Tem certeza?');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
