{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/centeredContainer.css')  }}">
{% endblock %}

{% block content %}
<div class="centered-container">
<div class="">
        <a class="navbar-brand navbar-minus-margin" style="font-size: 3em">Lista de Livros</a>
        <form class="form-inline" style="float: right" method="POST" action="{{ url_for('livro.index') }}">
            <select name="tipo" class="form-control">
                <option value="titulo">Título</option>
                <option value="tombo">Tombo</option>
            </select>&nbsp;&nbsp;
            <input name="busca" class="form-control mr-sm-2" type="search" style="width: 220px;" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 btn-marg" type="submit">Buscar</button>
        </form>
        <div style="clear: both"></div>
</div>

<div class="row">
{% for livro in livros %}
<div class="col-sm-3">
    <div class="card" style="width: 240px; height: 466px;" >
        <img class="card-img-top" style="height: 253px;" src="{{ url_for('static', filename='images/' + livro.caminho_imagem) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                {{ livro.titulo.split(" ")[0] }}
                {{ livro.titulo.split(" ")[1] }}
                {% if livro.titulo.split(" ")|length >= 3 %}
                {{ livro.titulo.split(" ")[2] }}
                {%endif%}
                {% if livro.titulo.split(" ")|length >= 4 %}
                ...
                {%endif%}
            </h5>
            <p class="card-text">Tombo: {{ livro.tombo }} <br> Status: {{ livro.status.capitalize() }}<p>
            <div class="form-group">
                <form action="{{ url_for('livro.delete', id=livro.tombo) }}" style="display: inline-block;" method="post">
                    <input class="btn btn-danger btn-sm" type="submit" value="Deletar" onclick="return confirm('Tem certeza?');">
                </form>
                <a class="btn btn-warning btn-sm" style="display: inline-block;" href="{{ url_for('livro.update', id=livro.tombo) }}">Editar</a>    
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{ livro.tombo }}Center">
                        Info
                </button>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ livro.tombo }}Center" tabindex="-1" role="dialog" aria-labelledby="{{ livro.tombo }}CenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="justify-content: center;" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="justify-content: center;">
                                    <h5 class="modal-title" id="{{ livro.tombo }}LongTitle">Verifica Livro - {{ livro.tombo }}
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body" style="text-align: center;">
                                <img src="{{ url_for('static', filename='images/' + livro.caminho_imagem) }}" class="imgsModal" alt="Responsive image">
                                <div style="float: right;">
                                    {{ livro }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %} disabled {% endif %}">
            <a class="page-link" href="{{ url_for('livro.index', page=page-1) }}">Anterior</a>
        </li>
        {% if page != 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('livro.index', page=page-1) }}">{{ page - 1 }}</a>
            </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ page }}</a>
            <span class="sr-only">(current)</span>
        </li>

        {% if page != totalpages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('livro.index', page=page+1) }}">{{ page + 1 }}</a>
        </li>
    {% endif %}
        <li class="page-item {% if page == totalpages %} disabled {% endif %}">
            <a class="page-link" href="{{ url_for('livro.index', page=page+1) }}">Próxima</a>
        </li>
  </ul>
</nav>
</div>

<style>
    .pagination {
        margin-top: 30px;
        margin-bottom: -20px;
    }
    .imgsModal {
        height: 65%;
        width: 250px;   
    }

    .navbar-minus-margin {
        margin-top: -15px;
        margin-bottom: 20px;
    }
    .card {
        margin-bottom: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .form-inline {
        margin-top: 12px;
    }

    .centered-container {
        border: 25px solid white;
        border-radius: 10px;
        width: auto;
        height: auto;
        background-color: white;
    }
</style>
{% endblock %}