{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Novo Livro</h1>
    {% if success %}
    <div class="alert alert-success" role="alert">
        <span>Livro criado com sucesso!</span>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tombo</span>
            </div>
            <input name="tombo" type="number" class="form-control" aria-describedby="inputGroup-sizing-default" id="tombo" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Título</span>
            </div>
            <input name="titulo" type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="titulo" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Entrada</span>
            </div>
            <input name="entrada" type="date" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="entrada" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Etiqueta</span>
            </div>
            <input name="etiqueta"  type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="etiqueta" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Ano</span>
            </div>
            <input name="ano" type="number"  aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="ano" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Volume</span>
            </div>
            <input name="volume" type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="volume" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-sm">Exemplar</span>
            </div>
           <input name="exemplar"  type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="exemplar" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-sm">Quantidade</span>
            </div>
           <input name="quantidade"  type="number" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="quantidade" required>
        </div>
        <div class="form-group">
            <label for="autor">Autores</label>
            <select name="autor" class="form-control" id="autor">     
            {% for autor in livro_content['autores'] %}
                <option value="{{autor.id}}"> {{autor.nome}}</option>   
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="editora">Editoras</label>
            <select name="editora" class="form-control" id="editora"> 
            {% for editora in livro_content['editoras'] %}
                <option value="{{editora.id}}"> {{editora.nome}}</option> 
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="image">Escolher arquivo</label>
            <input type="file" class="form-control" value="Escolher" name="image" id="inputGroupFile04" placeholder="Escolha o arquivo" required>
        </div>
        <div>                      
            <input type="submit" class="btn btn-primary btn-sm btn-block" value="Salvar">
        </div>
    </form>
</div>
{% endblock %}