{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/centeredContainer.css')  }}">
{% endblock %}

{% block content %}
<div class="centered-container">
<h1>Lista de Livros</h1>
{% for livro in livros %}
{% endfor %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Tombo</th>
            <th scope="col">Título</th>
            <th scope="col">Entrada</th>
            <th scope="col">Etiqueta</th>
            <th scope="col">Ano</th>
            <th scope="col">Volume</th>
            <th scope="col">Exemplar</th>
            <th scope="col">Autor</th>
            <th scope="col">Editora</th>
            <th scope="col">Status</th>
            <th scope="col">Nomenclatura</th>
            <th scope="col">Deletar</th>
            <th scope="col">Atualizar</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
            <tr>
                <th scope="row">{{ livro.tombo }}</th>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.entrada }}</td>
                <td>{{ livro.etq }}</td>
                <td>{{ livro.ano }}</td>
                <td>{{ livro.v }}</td>
                <td>{{ livro.ex }}</td>
                <td>{{ livro.nome }}</td>
                <td>{{ livro['editora.nome'] }}</td>
                <td>{{ livro.status.capitalize() }}</td>
                <td>{{ livro.nomenclatura }}</td>
                <td>
                    <form action="{{ url_for('livro.delete', id=livro.tombo) }}" method="post">
                        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Deletar" onclick="return confirm('Tem certeza?');">
                    </form>
                </td>
                <td><a class="btn btn-outline-secondary btn-sm" href="{{ url_for('livro.update', id=livro.tombo) }}">Editar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}