{% extends 'base.html' %}

{% block content %}
    <h1>Editando o livro: {{ livro_content['livro']['titulo'] }}</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tombo</span>
            </div>
            <input name="tombo" type="number" class="form-control" aria-describedby="inputGroup-sizing-default" id="tombo" value="{{ request.form['tombo'] or livro_content['livro']['tombo'] }}" readonly>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Título</span>
            </div>
            <input name="titulo" type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="titulo" value="{{ request.form['titulo'] or livro_content['livro']['titulo'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Entrada</span>
            </div>
            <input name="entrada" type="date" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="entrada" value="{{ request.form['entrada'] or livro_content['livro']['entrada'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Etiqueta</span>
            </div>
            <input name="etiqueta"  type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="etiqueta" value="{{ request.form['etiqueta'] or livro_content['livro']['etq'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Ano</span>
            </div>
            <input name="ano" type="number"  aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="ano" value="{{ request.form['ano'] or livro_content['livro']['ano'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Volume</span>
            </div>
            <input name="volume" type="number" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="volume" value="{{ request.form['volume'] or livro_content['livro']['v'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-sm">Exemplar</span>
            </div>
           <input name="exemplar"  type="text" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="exemplar" value="{{ request.form['exemplar'] or livro_content['livro']['ex'] }}" required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-sm">Quantidade</span>
            </div>
           <input name="quantidade"  type="number" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="quantidade" value="{{ request.form['quantidade'] or livro_content['livro']['qtd'] }}" required>
        </div>
        <div class="form-group">
            <label for="autor">Autores</label>
            <select name="autor" class="form-control" id="autor">     
            {% for autor in livro_content['autores'] %}
                {% if autor.id == livro_content['livro']['id_autor'] %}
                    <option value="{{autor.id}}" selected> {{autor.nome}}</option>
                {% else %}
                    <option value="{{autor.id}}"> {{autor.nome}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="editora">Editoras</label>
            <select name="editora" class="form-control" id="editora"> 
            {% for editora in livro_content['editoras'] %}
                {% if editora.id == livro_content['livro']['id_editora'] %}
                    <option value="{{editora.id}}" selected> {{editora.nome}}</option> 
                {% else %}
                    <option value="{{editora.id}}"> {{editora.nome}}</option> 
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="image">Escolher arquivo</label>
            <input type="file" class="form-control" value="Escolher" name="image" id="inputGroupFile04" placeholder="Escolha o arquivo">
        </div>
        <input type="submit" class="btn btn-primary btn-sm btn-block" value="Salvar">
    </form>
{% endblock %}