{% extends 'base.html' %} {% block header %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/centeredContainer.css')  }}"
/>
{% endblock %} {% block content %}
<div class="centered-container">
    <div class="">
        <a class="navbar-brand navbar-minus-margin" style="font-size: 3em">Lista de Reservas</a>
        <form class="form-inline" style="float: right">
            <select class="form-control">
                <option>Tombo</option>
                <option>Nome do Sócio</option>
            </select>&nbsp;&nbsp;
            <input class="form-control mr-sm-2" type="search" style="width: 220px;" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 btn-marg" type="submit">Buscar</button>
        </form>
        <div style="clear: both"></div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Tombo</th>
                <th style="width: 30%">Título</th>
                <th style="width: 20%">Nome do Sócio</th>
                <th style="width: 20%">Data de Criação</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva['livro.tombo'] }}</td>
                <td>{{ reserva.titulo }}</td>
                <td>{{ reserva.nome }}</td>
                <td>{{ reserva.created_at }}</td>
                <td>
                    <form action="{{ url_for('reserva.delete', id=reserva['id']) }}" method="post">
                        <input class="btn btn-danger btn-sm" type="submit" value="Deletar" onclick="return confirm('Tem certeza?');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
.navbar-minus-margin {
    margin-top: -15px;
    margin-bottom: 20px;
}
.form-inline {
    margin-top: 12px;
}
</style>
{% endblock %}
