<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nínive - Sistema de Gerenciamento de Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')  }}" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')  }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#" style="font-family: 'Lobster', cursive;">Nínive</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
    <div class="containerr">
        <h1 style="text-align: center;">Login</h1>
        <br>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="post">
            <div class="input-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing">Matricula</span>
                </div>
                <input type="password" name="matricula" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="matricula" required>
                <div class="input-group-append">
                    <button type="button" aria-label="Default" class="btn btn-outline-secondary" aria-describedby="inputGroup-sizing-default" id="showPassword"><img id="eyePassword" src="{{ url_for('static', filename='images/disabled-eye.png') }}"></button>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Entrar">
        </form>
    </div>

    <script>
        const inputShowPassword = document.getElementById("showPassword");
        const inputPassword = document.getElementById("matricula");
        const tagImgEye = document.getElementById("eyePassword");

        let isChecked = false;

        inputShowPassword.addEventListener("click", () => {
            if (!isChecked) {
                inputPassword.type = 'text';
                isChecked = true;
                tagImgEye.src = "/static/images/enabled-eye.png"
            } else {
                inputPassword.type = 'password';
                isChecked = false;
                tagImgEye.src = "/static/images/disabled-eye.png"
            }
        });
    </script>

    <style>
        #matricula {
            border-right: 0;
        }

        #showPassword {
            border-color: #CED4DA;
            border-left: 0;
        }
    </style>
</body>
