<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGB - Sistema de Gerenciamento de Biblioteca</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')  }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">SGB</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Autor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('autor.index') }}">Listar</a>
                <a class="dropdown-item" href="{{ url_for('autor.create') }}">Cadastrar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Editora
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('editora.index') }}">Listar</a>
                <a class="dropdown-item" href="{{ url_for('editora.create') }}">Cadastrar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Livros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('livro.index') }}">Listar</a>
                <a class="dropdown-item" href="{{ url_for('livro.create') }}">Cadastrar</a>
                </div>
            </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                    <div class="navbar-nav mr-auto">
                            <a class="nav-link botao-logout" href="{{ url_for('funcionario.logout') }}">Logout</a>
                    </div>
            </div>
        </div>
    </nav>

    <div class="containerr">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

                {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='slim.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js')  }}"></script>
</body>
</html>