{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<h1>Novo Autor</h1>
    <form method="post">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
            </div>
            <input name="nome"  aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="nome" value="{{ request.form['nome'] }}" required>
        </div>
    <input type="submit" class="btn btn-outline-secondary btn-sm" value="Salvar">
    </form>
{% endblock %}