{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='centeredContainer.css')  }}">
{% endblock %}

{% block content %}
<div class="centered-container">
    <h4>Editando autor do id: {{ autor['id'] }}</h4>
    <form method="post">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
            </div>
            <input name="nome" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="nome" value="{{ request.form['nome'] or autor['nome'] }}" required>            
        </div>
        <input type="submit" class="btn btn-outline-secondary btn-sm" value="Salvar">
    </form>
    <form action="{{ url_for('autor.delete', id=autor['id']) }}" method="post">
        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Delete" onclick="return confirm('Tem certeza?');">
    </form>
</div>
{% endblock %}
