{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/centeredContainer.css')  }}">
{% endblock %}

{% block content %}
<div class="centered-container">
    <div class="">
        <a class="navbar-brand navbar-minus-margin" style="font-size: 3em">Lista de Editoras</a>
        <form class="form-inline" style="float: right" method="POST" action="{{ url_for('editora.index')}}">
            <select name="tipo" class="form-control">
                <option value="id">ID</option>
                <option value="nome">Nome</option>
            </select>&nbsp;&nbsp;
            <input name="busca" class="form-control mr-sm-2" type="search" style="width: 220px;" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 btn-marg" type="submit">Buscar</button>
        </form>
        <div style="clear: both"></div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
                <tr>
                    <th scope="row">{{ editora['id'] }}</th>
                    <td>{{ editora['nome'] }}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#{{ editora['nome'] }}Center">
                        Editar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ editora['nome'] }}Center" tabindex="-1" role="dialog" aria-labelledby="{{ editora['nome'] }}CenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="{{ editora['nome'] }}LongTitle">Editando editora do id: {{ editora['id'] }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <div class="modal-body">
                                    <form method="post" action="{{ url_for('editora.update', id=editora['id']) }}">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
                                            </div>
                                            <input name="nome" aria-label="Default" class="form-control" aria-describedby="inputGroup-sizing-default" id="nome" value="{{ request.form['nome'] or editora['nome'] }}" required>            
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-sm btn-block" value="Salvar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="{{ url_for('editora.delete', id=editora['id']) }}" method="post">
                            <input class="btn btn-danger btn-sm" type="submit" value="Deletar" onclick="return confirm('Tem certeza?');">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('editora.index', page=page-1) }}">Anterior</a>
            </li>
            {% if page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('editora.index', page=page-1) }}">{{ page - 1 }}</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page }}</a>
                <span class="sr-only">(current)</span>
            </li>

            {% if page != totalpages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('editora.index', page=page+1) }}">{{ page + 1 }}</a>
                </li>
            {% endif %}
            <li class="page-item {% if page == totalpages %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('editora.index', page=page+1) }}">Próxima</a>
            </li>
        </ul>
    </nav>
</div>
<style>
.navbar-minus-margin {
    margin-top: -15px;
    margin-bottom: 20px;
}
.form-inline {
    margin-top: 12px;
}
</style>
{% endblock %}